<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">
                    Create New Short Link
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <form action="/link/" method="POST">
                <div class="modal-body">
                    <label>Title: </label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="title" name="title" />
                    </div>
                    <label>Source URL: </label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="originalUrl" name="originalUrl" />
                    </div>
                    <label>Custom Url: </label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="customUrl" name="customUrl" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Create</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>